$font-stack: Helvetica, sans-serif;
$primary-color: rgb(137, 12, 12);
@function pow($base, $exponent){
    $result: 1;
    @for $_ from 1 through $exponent{
        $result: $base * $result; 
    }

    @return $result;
}

body{
    font: 100% $font-stack;
    color: $primary-color;
}

.sidebar{
    float: right;
    margin: pow(1, 5) * 2px;
}